<footer>
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Navegación</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Catálogo</a></li>
                    <li><a href="#">Mi Cuenta</a></li>
                    <li><a href="#">Promociones</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Ayuda</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Términos</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <p class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f me-2"></i></a>
                    <a href="#"><i class="fab fa-instagram me-2"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </p>
            </div>
        </div>
        <div class="text-center mt-3">
            <small>&copy; 2025 Centro Cocotero. Estilo Retro Beach. Todos los derechos reservados.</small>
        </div>
    </div>
</footer>
